body{
    margin: 0px;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
    /*-webkit-font-smoothing: antialiased;*/
}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,b{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
a{
    text-decoration: none;
    background: transparent;
    transition: all 0.2s ease-in-out;
}
.bg-white{
    background: #fff;
}
.bg-gray{
    background: #eff3f5;
}
.iconfont,[class^="icon-"],[class*="icon-"]{
    font-family: "iconfont" !important;
    font-size: 16px;
    color: #b8c4ce;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.cl{
    clear: both;
}
/********************************************************/
/* flexslider */
.flexslider{
    margin:0 auto;
    position:relative;
    width:1200px;
    height:420px;
    overflow:hidden;
    zoom:1;
}
.flex-viewport{
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease;
}
.flexslider .slides{
    zoom:1;
}
.flexslider .slides li {
    display: none;
}
/*
.flexslider .slides li a {
	position: absolute;
	left: 50%;
}
.flexslider .slides li a img{
	position: relative;
	left: -50%;
}
*/
.flex-direction-nav a{
    width:60px;
    height:90px;
    line-height:99em;
    overflow:hidden;
    margin:-60px 0 0;
    display:block;
    background:url(../img/ad_ctr.png) no-repeat;
    position:absolute;
    top:50%;
    z-index:10;
    cursor:pointer;
    opacity:0;filter:alpha(opacity=0);
    -webkit-transition:all .3s ease;
}
.flex-direction-nav .flex-next{
    background-position:0 -90px;right:0;
}
.flex-direction-nav .flex-prev{
    left:0;
}
.flexslider:hover .flex-next{
    opacity:0.8;filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev{
    opacity:0.8;filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{
    opacity:1;
    filter:alpha(opacity=50);
}
.flex-control-nav{
    z-index: 20;
    padding-left: 0;
    width:100%;
    position:absolute;
    bottom:8px;
    text-align: right;
}
.flex-control-nav li{
    margin:0 5px;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.flex-control-paging li a{
    font-size: 0;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #b4a078;
}
.flex-control-paging li a.flex-active{
    background-color: #b4a078;
}
.flexslider .slider-title {
    position: absolute;
    bottom: 0;
    z-index:10;
    width:100%;
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 20px;
    background-color:rgba(0,0,0,0.3);
}
/********************************************************/
/*list*/
.wpn{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.pos{
    position: relative;
    overflow: hidden;
}

/*list内容部分*/
.mtw{
    margin-top: 20px;
}
.list{
    width: 1220px;
    overflow: hidden;
}
.list-title {
    line-height: 40px;
}
.list-title .title {
    font-size: 24px;
}
.list-title .more {
    float: right;
    color: #999999;
}
.list-item{
    margin-top: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 285px;
}
.list-item .image-banner{
    background-color: #f4f4f4;
}
.list-item .image-banner .image{
    width: 285px;
    height: 285px;
    transition:all 500ms linear;
}
.list-item .image-banner:hover .image{
    -webkit-transition:scale(1.02,1.02);
    -moz-transition:scale(1.02,1.02);
    -ms-transition:scale(1.02,1.02);
    -o-transition:scale(1.02,1.02);
    transform:scale(1.02,1.02);
}
.list-item .info{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.list-item .info .title{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.list-item .info .describe{
    color: #999;
    margin-bottom: 10px;
}
.list-item .info .price{
    line-height: 22px;
    color: #e4393c;
    font-size: 16px;
}
.list-item .info .old-price{
    line-height: 22px;
    color: #bbbbbb;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 10px;
}
/********************************************************/

